.price {
  &-selection {
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      margin: 0 0.5rem;
    }

    p {
      &::before {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }

      &:first-child {
        font-weight: 700;
      }
    }
  }

  &__toggler {
    display: block;
    width: 6rem;
    height: 3rem;
    background: $color-black;
    border-radius: 100px;
    position: relative;

    &-btn {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: $color-grey-light;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.5rem;
      transition: all 0.5s;
    }

    &--active {
      .price__toggler-btn {
        left: unset;
        right: 0.5rem;
        background: $color-white;
      }
    }
  }

  &__cards {
    display: flex;
    margin: $gutter-md;

    @include media(tab-land) {
      flex-direction: column;
    }
  }
}

.plan {
  padding: $gutter-md;
  margin: 0 $gutter-xs;
  margin-bottom: $gutter-md;
  background: $color-grey-light;
  transition: $transition-sm;

  @include media(tab-land) {
    padding: $gutter-xl;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5rem 10rem rgba($color: #000000, $alpha: 0.2);
  }

  &-title {
    margin: $gutter-sm;
  }

  &-desc {
    margin-bottom: $gutter-md;
  }

  &-btn {
    margin-top: $gutter-md;
    width: 100%;
  }

  &:nth-child(2) {
    transform: scaleY(1.1);
    background: $color-black;
    position: relative;

    & > * {
      color: $color-white;
    }

    .plan-btn {
      color: black;
      background: $color-white;

      &:hover {
        background: $color-grey-light;
        box-shadow: 0 1rem 3rem rgba(#7f7f7f, $alpha: 0.4);
      }

      &:active {
        box-shadow: 0 0.5rem 1rem rgba($color: #7f7f7f, $alpha: 0.4);
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 0.5rem;
      background: $main-gradient;
      border-radius: 0 0 100px 100px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
