.service {
  text-align: center;
  margin-bottom: $gutter-xl;

  &-heading {
    text-transform: uppercase;
  }

  &-table {
    width: 60%;
    margin: $gutter-sm auto;
    border-collapse: collapse;

    @include media(tab-land) {
      width: 100%;
    }

    th {
      border-bottom: 1px solid $color-black;
    }

    th,
    td {
      padding: $gutter-xs;
      &:not(:first-child) {
        width: 20%;
      }

      &:first-child {
        text-align: left;
      }
    }
  }
}
